:root {
    --bg: #000026;
    --card: #ffffff;
    --text: #5E85D9;
    --muted: #6b7280;
    --primary: #2563eb;
    --danger: #dc2626;
    --ok: #16a34a;
    --space: 16px;
    --radius: 12px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.card {}

#form_bienvenida {
    display: flex;
    align-items: center;
    border: #ffffff solid 2px;
    padding: 2px;
    justify-content: space-between;
    justify-items: center;
    max-width: 600px;
}
